numpy==1.26.4
pandas==2.2.2
opencv-python-headless==4.9.0.80  # 统一使用带GUI的版本
plotly==5.22.0
scipy==1.13.1
PyQt5==5.15.10
pyinstaller==5.13.1 # 也可以放在这里
pywin32==306; sys_platform == 'win32' # Windows特定依赖